<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only show odd numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div>
          <strong *ngIf="onlyOdd"
            ><li class="list-group-item" *ngFor="let odd of oddNumbers">
              {{ odd }}
            </li>
          </strong>
          <strong *ngIf="!onlyOdd"
            ><li class="list-group-item" *ngFor="let even of evenNumbers">
              {{ even }}
            </li>
          </strong>
        </div>
      </ul>
      <p appHighLighter>Only odd numbers are shown</p>
    </div>
  </div>
</div>
